:root{
    --primary-color: rgb(43, 240, 43);
    --secondary-color: sandybrown;
    --accent1-color: slateblue;
    --accent2-color: goldenrod;
    --heading-font: Georgia, 'Times New Roman', Times, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

header img{
    width: 150px;
    height: auto;
}

header nav{
    margin: 0 0 16px 30px;
}

li{
    padding: 10px;
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer{
    width: 840px;
    margin: 0 auto;
}

h1, h2, h3{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article{
    margin: 16px;
    padding: 8px;
}

.socialmedia a{
    text-decoration: none;
}

.hero{
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

article{
    position: absolute;
    top: 70px;
    color: white;
}

.hero article img{
    float: right;
    width: 125px;
}