:root{
    --primary-color: #055A05;
    --secondary-color: white;
    --accent1-color: rgb(89, 83, 133);
    --accent2-color: #afeeee;
    --heading-font: Georgia, 'Times New Roman', Times, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
}

header img{
    width: 100px;
    height: auto;
    grid-column: 1 / 2;
}

header nav{
    /* margin: 0 0 16px 30px; */
    align-items: center;
}

ul {
    display: flex;
    list-style:none;
    justify-content: space-around;
    font-size: larger;
}

/* li{
    padding: 10px; 
} */
li a{
    color: var(--secondary-color);
    text-decoration: none;
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer{
    width: 840px;
    margin: 0 auto;
}

h1, h2, h3{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article{
    margin: 16px;
    padding: 8px;
    
}

.socialmedia a{
    text-decoration: none;
}

.hero{
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
    filter: brightness(60%);
}

#about-us-title {   /* h1 about us */
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article{
    position: absolute;
    top: 70px;
    color: var(--secondary-color);
}

.hero article img{
    float: right;
    width: 125px;
    filter: brightness(100%);
}

.image-history img{
    width: 200px;
    height: auto;
    justify-self: center;  
    align-items: center; 
    padding-top: 40px;  
}

.history-section h3 {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: start; 
}

.adventures-section h2 {
    text-align: center;
    margin-bottom: 30px;
}

.adventures-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.adventures-section img {
    width: 140px;
    height: 140px;
}

.adventures-grid figure {
    text-align: center;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
}

footer p {
    margin: 0; /* Elimina el margen por defecto del párrafo */
    text-align: center;
    grid-column: 2 / 3;
}



/* ///////////////////////////////////////////////////////////////////////////////////////////////// */

/* --- Styles for Contact.html --- */
.contact-section {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 30px; /* Espacio entre columnas y filas */
    align-items: center; 
    padding: 10px;
}

.map {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.map iframe {
    width: 100%;
    height: 500px; 
}

.contact-form {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    
    width: 100%;
    padding: 30px;
    border: 1px solid var(--accent2-color);
    border-radius: 8px;
    background-color: #f9f9f9;
}

#contact-us-title  {
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
}

 .form-group {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos al centro */
    margin-bottom: 15px; 
}
 
.contact-form label {
    font-weight: bold;
    color: var(--primary-color);
    
    min-width: 70px;
}

.contact-form input[type="text"],
.contact-form input[type="email"]{
    flex-grow: 1;  /*Permite que el input/textarea ocupe el espacio restante */
    padding: 10px;
    border: 1px solid #989898;
    border-radius: 4px;
    box-sizing: border-box;
}

.message-purpose {
    display: block;
    margin: 20px 20px;
}

.message-purpose legend {
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.radio-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: var(--accent1-color);
}

.radio-option input[type="radio"] {
    margin-right: 10px;
}

.message-group {
    display: block;
    padding-left: 20px;
}

.message-group label {
    display: block; /* Ocupa el 100% del ancho y salta de línea */
    margin-left: 0px;  
    text-align: left; 
    padding-bottom: 5px;
}

.contact-form textarea {
    margin: auto;
    width: 100%;
}

.form-group .checkbox{
    display: flex;
    margin-top: 20px;
}

.form-group.checkbox input[type="checkbox"] {
    margin-right: 10px; 
}

.form-group.checkbox label {
    color: var(--primary-color); 
}

.contact-form button[type="submit"] {
    display: block;
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    background-color: #e6e6e6; 
    color: #333;
    font-size: 1.1em;
    font-weight: bold;
}

.contact-form button[type="submit"]:hover {
    background-color: #d9d9d9;
}

.company-info {
    grid-column: 1 / -1; 

    display: block;
    text-align: center;
}

.company-info h2 {
    font-size: 2.2rem;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.company-info p {
    margin: 0;
    padding: 3px;
    color: var(--accent1-color);
    font-size: 1.1rem;
}

/* --- Estilos para Perfiles de Empleados --- */

.employee-profiles {
    text-align: center;
    margin-top: 20px;
    border:1px solid rgb(0 0 0 / 20%);
    background-color: #f9f9f9;
}

.profiles-grid {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.employee {
    text-align: center;
    max-width: 200px;
}

.employee img {
    width: 140px; 
    height: auto;
    margin-bottom: 5px; 
}

.employee figcaption {
    color: var(--accent1-color);
    font-weight: bold;
}

/*#contact-us-title {
     Tus nuevas modificaciones 
    color: purple;
    border-bottom: 2px solid purple;
}*/