* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --primary-color: darkblue;
    --alignment: center;
}

nav{
    background-color: var(--primary-color);
    padding: 10px;
}

nav a{
    color: white;
    display: block;
    padding: 20px;
}

h1{
    color: var(--primary-color);
    padding: 0.5rem;
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p{
    padding: 0px;
    margin: 1rem;
}

main{
    max-width: 840px;
}

aside{
    /* Styles for the BsAs block */
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 /0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: var(--alignment);
}

aside img{
    width: 200px;
    height: auto;
}

aside h2{
    position: absolute;
    top: 550px;
    left: 135px;
    color: white;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--alignment);
}

/* Class Selectors */

.box{
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #eee;
  color: black;
}

.indent{
    padding-left: 2rem;
}